<script>
    window.store = {
        {{- $pages := where .Site.RegularPages "Section" "posts" -}}
        {{- range $index, $page := $pages -}}
        {{- if gt $index 0 -}},{{- end }}
        {{ .Permalink | jsonify }}: {
            "title": {{ .Title }},
            "day": {{ .Date.Format .Site.Params.dateform }},
            "tags": [{{ range $i, $tag := .Params.Tags }}{{ if $i }},{{ end }}{{ $tag | jsonify }}{{ end }}],
            "content": {{ .Plain | jsonify }},
            "url": {{ .Permalink | jsonify }}
        }
        {{- end -}}
    };
</script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
